/* Efeito de promoção */
.promocao_info_amigo1:hover{
    zoom: 1.02;
    background-color: transparent;
    cursor: pointer;
}
.promocao_info_amigo2:hover{
    zoom: 1.02;
    background-color: transparent;
    cursor: pointer;
}
.promocao_info_amigo3:hover{
    zoom: 1.02;
    background-color: transparent;
    cursor: pointer;
}

.perfil1:hover{
   zoom: 1.2;
   
}
/* Efeito combo */
.combo-cabelo-barba:hover{
    zoom: 1.06;
    border: 1px solid yellow;
    background-color:rgba(162, 112, 13, 0.984);
}
    .combo-cabelo-barba p::selection{
        background-color: #48194d;
        color: red;
    }

.combo-cabelo-barba-sobracelha:hover{
    zoom: 1.06;
    border: 1px solid yellow;
    background-color:rgba(162, 112, 13, 0.984);
}
    .combo-cabelo-barba-sobracelha p::selection{
        background-color: #48194d;
        color: red;
    }
.combo-cabelo-barba-pintura:hover{
    zoom: 1.06;
    border: 1px solid yellow;
    background-color:rgba(162, 112, 13, 0.984);
}
    .combo-cabelo-barba-pintura p::selection{
        background-color: #48194d;
        color: red;
    }
/* Fim do efeito do combo */

#galeria img:hover{
    border-radius: 10px;
    zoom: 1.1;
}

.icones-texto p:hover {
    zoom: 1.06;
   
}

.rodape-paginas a:hover {
    text-decoration: underline;
    padding-left: 2px;
    font-size: 20px;
}



.rodape_sobre:hover {
    background-color: rgb(154, 205, 50, 0.8);
}

.caixa-servicos-cabelo img:hover {
    transition: 2s;
    background-color: rgb(72, 25, 77, 0.4);
    width: min-content;

}

.caixa-servicos-barba img:hover {
    transition: 2s;
    background-color: rgb(72, 25, 77, 0.4);
    width: min-content;

}

.caixa-servicos-quimica img:hover {
    transition: 2s;
    background-color: rgba(72, 25, 77, 0.4);
    width: min-content;

}

.caixa-servicos-tatuagem img:hover {
    transition: 2s;
    background-color: rgb(72, 25, 77, 0.4);
    width: min-content;

}

.titulo-legenda::selection {

    background-color: rgb(72, 25, 77);
}

.texto-legenda::selection {
    background-color: #48194d;

}

#caixa-imagem h2::selection {
    background-color: #48194d;
    width: 40px;
    color: white;
    opacity: 0.8px;
}

#rodape p ::selection {
    background-color: #0f0f0f91;
    color: white;

}
/* Efeito do menu */
#menu:hover {
    transition: 2s;
    border-bottom: 1px solid yellow;
}
    #menu li:hover {
        transition: 1s;
        text-decoration: underline;
    }
    #menu a:hover {
        text-shadow: -4px 0 black, 3px 1px black;
        transition: 2s;
        color: rgb(255, 219, 12);
    }


 



/* PAGINA DE SERVIÇOS */

.servico-linha-tabela:hover {
    zoom: 1.1;
    background-color: #c90ab079;
    color: rgb(248, 240, 7);
    font-family: 20px;
    text-shadow: -2px 1px rgb(12, 12, 12);
}

.servicos-icones-all:hover {
    zoom: 1.2;
    cursor: pointer;
    transition: 2s;
    background-color: rgba(255, 255, 255, 0.44);
    border: 2px solid yellow;
    border-radius: 15px;
}


/* Efeitos do servicos */
.servicos_caixa_cabelo:hover {
    background-image: url(./img/cortes/corte_flavian22.jpg);
    background-size: cover;
    border: 2px solid yellow;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px -1px 1px rgb(58, 58, 58);
}


.servicos_caixa_cabelo p:hover {
    text-shadow: -2px -1px black;
    
}

.servicos_caixa_barba:hover {
    background-image: url(/img/cortes/barba.jpg);
    background-size: cover;
    border: 2px solid yellow;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px -1px 1px rgb(58, 58, 58);
}

.servicos_caixa_barba p:hover {
    text-shadow: -2px -1px black;
}

.servicos_caixa_sobracelha:hover {
    background-image: url(/img/cortes/sombracelha-12.jpg);
    background-size: cover;
    border: 2px solid yellow;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px -1px 1px rgb(58, 58, 58);
}

.servicos_caixa_sobracelha p:hover {
    text-shadow: -2px -1px black;
}

.servicos_caixa_tatto:hover {
    background-image: url(/img/cortes/corte-3.jpg);
    background-size: cover;
    border: 2px solid yellow;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px -1px 1px rgb(58, 58, 58);
   

}

.servicos_caixa_tatto p:hover {
    text-shadow: -2px -1px black;


}

.servicos_caixa_pintura:hover {
    background-image: url(/img/cortes/pintura.jpg);
    background-size: cover;
    border: 2px solid yellow;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px -1px 1px rgb(58, 58, 58);
}

.servicos_caixa_pintura p:hover {
    text-shadow: -2px -1px black;
}