#sobre{ 
    background-color:rgb(3, 3, 3);
    border-radius: 1px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height:320px;
    border: 1px solid white;
    margin-top: 3px;
    margin-bottom: 1px;
}
    #sobre img{
        width: 50%;
    }

    .sobre-texto h2{
        margin-top: 25px;
        margin-left: 300px;
        margin-bottom: 15px;
        color: white;
        font-family: 'Libre Baskerville', serif;
        font-size: 40px;
    }
    .sobre-texto p{ 
        padding-right: 25px;
        padding-left: 25px;
        text-align: justify;
        color: white;
        font-family: 'Roboto', sans-serif;
   
    }
.botao-contato{
    position: absolute;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid  rgba(0, 0, 0, 0.491);
    width: 120px;
    height: 50px;
    background-color :rgb(232, 210, 39, 0.5);
    
    }
    .botao-contato a{
        text-decoration: none;
        list-style: none;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        color: white;
        text-shadow: 1px -1px black;
    }