/* Formatação plano de fundo */
body{
    background-size: cover;
    background-image: url(/img/fundo.jpg);
    background-color: #000000;
    color: white;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

.servicos_txt{
    margin-top: 5px;
}


/* Teste */
#inicio-promocao{   
    border: 1px solid white;
    padding: 1px;
    width: 100%;
    height: 220px;
    background-color:rgba(0, 0, 0, 0.639);
    color: white;
}

    #inicio-promocao h2{
        text-align: center;
        font-family: 'Lora', serif;
        font-size: 30px;
    }

    #inicio-promocao p{
        font-family: 'Lora', serif;
    }

.todas-promocao{
    display: flex;
    flex-direction: row;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-left: 5px;
    padding-right: 5px;
    height: 145px;
    background-color: rgba(255, 255, 255, 0.128);
}
    /* Promoção 1 */
    .promocao_info_amigo1{
        display:block;
        width: 1600px;
        height: 140px;
        background-color: rgba(4, 4, 4, 0.394);
        padding: 15px;
    }
        .promocao_info_amigo1 h3{
            text-align: center;
            font-family: 'Lora', serif;
            color: yellow; 
        }
        .promocao_info_amigo1 p{
            text-align: justify;
        }
    /* Promoção 2 */
    .promocao_info_amigo2{
        display:block;
        width: 1600px;
        height: 140px;
        background-color: rgba(4, 4, 4, 0.394);
        padding: 15px;
    }
        .promocao_info_amigo2 h3{
            text-align: center;
            font-family: 'Lora', serif;
            color: yellow;
        }
        .promocao_info_amigo2 p{
            text-align: justify;
        }

    /* Promoção 3 */
    .promocao_info_amigo3{
        display:block;
        width: 1600px;
        height: 140px;
        background-color: rgba(4, 4, 4, 0.394);
        padding: 15px;
    }
        .promocao_info_amigo3 h3{
            text-align: center;
            font-family: 'Lora', serif; 
            color: yellow;
        }
        .promocao_info_amigo3 p{
            text-align: justify;
        }
    
   
/* Fim do teste */

/* Formatação do cabeçalho*/
    #topo{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgb(0, 0, 0, 0.3);
        height: 80px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.9);
        margin-bottom: 1px;
    }

/* Formatação do texto do topo */
    .topo-texto{
        color:rgb(255, 250, 250);
        text-decoration: solid;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: -5px 0 rgb(66, 66, 66);    
    }

/* Formatação do menu */
    #menu{
        background-color:rgb(0, 0, 0,0.8);
        border-bottom: 1px solid rgb(255, 255, 255, 0.9);
        height: 50px;
        position: sticky;
        top:0;
        z-index: 1;
    }
        #menu li {
            display: inline-flex;
            margin-left: 5px;
            margin-top: 4px;

        
        }


        #menu li a{
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: 20px;   
        }

        .layout-botao{
            width: 100px;
            height: 40px;
            justify-content: center;
            background-color:transparent;
            opacity: 0.8;
        }

/* Formatação da caixa de imagem */
    #caixa{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 320px;
        background-color: #3f3f3ff8;
        margin-bottom: 2px;
    }

        .container{
            position: relative;
            
        }
        .legenda{
            
            display: flex;
            flex-direction: column;
            width: 600px;
            height: 200px;
            text-align: start;
            position: absolute;
            top: 80px;
            left: 200px;
            
        }

            /* Formatação do titulo da legenda */
            .texto-legenda{
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            
            }
            /* Formatação do texto da legenda */
            .titulo-legenda{
                opacity: 1;
                text-shadow: -4px 1px rgb(0, 0, 0);
                color: rgb(255, 255, 255);
                font-size: 28px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }

            /* Formatação do botão */
            #btnservicos{
                text-align: center;
                margin-top: 20px;
                margin-left: 40%;
                background-color: rgb(232, 210, 39, 0.5);
                width: 220px;
                height: 40px;
                padding: 2px;
                border-radius: 10px;
                border: 1px solid rgb(0, 0, 0);
                cursor:pointer
                
            }
          

            .slider-botao a{
                text-shadow: -2px 0 black;
                color: white;
                text-decoration: none;
                font-size: 18px;
            }

/* Conteudo do article */
    .inicio-mensagem{
        background-color: rgb(0, 0, 0,0.92);
        width: 100%;
        height: 500px;
        padding: 20px;
        border-bottom: 2px solid white;
    }
        .inicio-titulo-forma{
            padding-top: 10px;
            border-bottom: 1px solid white;
            border-top: 1px solid white;
        }
        .inicio-mensagem h2{
            text-align: center;
            margin-bottom: 10px;
            font-family: 'Roboto Slab', serif;
            font-size: 30px;
            color: yellow;
        }
        .inicio-mensagem p{
            text-align: justify;
            padding-left: 10px;
            padding-right: 10px;
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
        }

/* Conteudo de promoção */
#inicio-promocoes{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0,0.92);
    padding: 2px;
    width: 100%;
    height: 300px;
}
        .inicio-promocoes-texto{
            justify-content: center;
            align-items: center;
            width: 100%; 
        }
        .inicio-promocoes-titulo{
            margin-top: 10px;
            text-align: center;
            color: yellow;
            font-family: 'Noto Serif', serif;
            font-size: 30px;
            text-shadow: -1px 2px 1px rgb(28, 28, 28);
            
        }
        .inicio-promocoes-descricao{
            background-color: rgb(0, 0, 0,0.12);
            border-radius: 20px;
            margin-left: 10px;
            margin-right: 125px;
            padding-top: 10px;
            padding-left: 10px;
            width: 99%;
            height: 80px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            text-shadow: -2px -1px  rgb(0, 0, 0);
            font-size: 18px;        
        }
        #inicio-promocoes-info{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 10px;
        }

 /* Promoção barba + cabelo */
    .combo-cabelo-barba{
        display: block;
        border: 1px solid rgb(255, 255, 255,0.7);
        width: 290px;
        height: 100px;
        padding-top: 15px;
        text-align: center;
        background-color: rgb(232, 210, 39, 0.5);
    }
    .combo-cabelo-barba h2{
        text-decoration: none;
        text-shadow: -1px 2px black;
        font-family: 'Libre Baskerville', serif;
        font-size: 18px;
    }
    .combo-cabelo-barba h3 {
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-shadow: -2px 1px black;
    }
    .combo-cabelo-barba p{
        margin-top: 10px;
        font-size: 10px;
    }
        /* Validade */
        .texto-promocao-validade{
            color: white;
            text-shadow: -1px -1px black;
            font-family: Arial, Helvetica, sans-serif;
        }
    /* Promoção combo cabelo + barba + sobracelha */
    .combo-cabelo-barba-sobracelha{
        display: block;
        border: 1px solid rgb(255, 255, 255,0.7);
        width: 290px;
        height: 100px;
        padding-top: 15px;
        text-align: center;
        background-color: rgb(232, 210, 39, 0.5);
    }
    .combo-cabelo-barba-sobracelha h2{
        text-decoration: none;
        text-shadow: -1px 2px black;
        font-family: 'Libre Baskerville', serif;
        font-size: 18px;
    }

    .combo-cabelo-barba-sobracelha h3 {
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-shadow: -2px 1px black;
    }
    .combo-cabelo-barba-sobracelha p{
        margin-top: 10px;
        font-size: 10px;
    }
    /* Combo cabelo + barba + pintura */
    .combo-cabelo-barba-pintura{
        display: block;
        border: 1px solid rgb(255, 255, 255,0.7);
        width: 290px;
        height: 100px;
        padding-top: 15px;
        text-align: center;
        background-color: rgb(232, 210, 39, 0.5);
    }
    .combo-cabelo-barba-pintura h2{
        text-decoration: none;
        text-shadow: -1px 2px black;
        font-family: 'Libre Baskerville', serif;
        font-size: 18px;
    }

    .combo-cabelo-barba-pintura h3 {
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-shadow: -2px 1px black;
    }
    .combo-cabelo-barba-pintura p{
        margin-top: 10px;
        font-size: 10px;
    }

/* Formatação da caixa de servicos */
#servicos_caixa_index{
    background-color: rgb(12, 12, 12);
    margin-left: 2px;
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 240px;
    border:1px solid white;
    color: black;
}
    .servicos_caixa_cabelo{
        padding: 10px;
        background-color: rgba(196, 133, 8, 0.984);
        width: 220px;
        height: 220px;
        border-radius: 40px;
    }
        .servicos_caixa_cabelo h2{
           text-align: center;
        }
    .servicos_caixa_barba{
        padding: 10px;
        background-color: rgba(196, 133, 8, 0.984);
        width: 220px;
        height: 220px;
        border-radius: 40px;

    }
        .servicos_caixa_barba h2{
            text-align: center;
        }
    .servicos_caixa_sobracelha{
        padding: 10px;
        background-color: rgba(196, 133, 8, 0.984);
        width: 220px;
        height: 220px;
        border-radius: 40px;

    }
        .servicos_caixa_sobracelha h2{
            text-align: center;
        }
        .servicos_caixa_tatto{
            padding: 10px;
            background-color: rgba(196, 133, 8, 0.984);
            width: 220px;
            height: 220px;
            border-radius: 40px;

        }
            .servicos_caixa_tatto h2{
                text-align: center;
            }
            .servicos_caixa_pintura{
                padding: 10px;
                background-color: rgba(196, 133, 8, 0.984);
                width: 220px;
                height: 220px;
                border-radius: 40px;

            }
            .servicos_caixa_pintura h2{
                text-align: center;
            }


/* Formatação da caixa sobre */
/* Sobre */
.sobre_texto{
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
    .sobre_paragrafo{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .conteudo_contato{
        background-color: white;
        height: 800px;
        color: #000000;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        border: 2px solid black;
        
    }

.sobre-perfil1{
    background-color: rgba(0, 0, 0, 0.505);
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin-bottom: 4px;
}
    .perfil1{
        margin-left: 15px;
        color: white;
        text-shadow: 1px -1px black;
    }

/* Formatação do rodape */
#rodape{
    position: sticky;
    bottom: 0;
    border:1px solid white;
    margin-top: 3px;
    padding-top: 5px;
    padding-left: 4px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    height: 30px;
    color: #ffffff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Formatação do rodape final */
.rodape-caixa-container{
    border: 1px solid white;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Formatação rodape esquerdo CONTATOS */
.rodape-caixa-texto{
    padding-left: 5px;
    padding-top: 5px;
    width: 50%;
    height: 115px;
}
.rodape-caixa-texto-titulo{
    text-align: center;
    height: 40px;
}

/* Rodape de paginas */
#caixa-rodape-fundo{
    background-color: #000000;
    display: flex;
    flex-flow: nowrap;
    width: 100%;
    height: 140px;
    padding: 10px;
    border-left:1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;

}

.rodape-infor{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 80%;
    
}

.rodape-paginas{
    background-color: transparent;
    width: 20%;
    text-align: left;
}
.rodape-paginas h2{
    margin-bottom: 5px;
}
.rodape-paginas li{
    margin-left: 20px;
}
.rodape-paginas li a{
    margin-top: 2px;
    text-decoration: none;
    color: white;
}

.icones_rodape{
    display: flex;
    flex-direction: column;
    
}

.icones-texto{
    margin-left: 10px;
    margin-top: 10px;

}

.icones-texto a{
 list-style: none;
 text-decoration: none;
 color: white;
}

#forma_pagamento{
    text-align: center;
    margin-right: 20px;
}
#forma_pagamento img{
    width: 250px;
}

/* Fim da formatação */



/* Formatação da pagina de servico  */
/* Faq */
#faq{
    display:block;
    margin-bottom: 3px;
    background-color: #000000;
    width: 100%;
    height: max-content;
    padding: 5px;
    
}
    #faq summary{
        cursor: pointer;
        width: max-content;
    }
    #faq h2{
        font-family: 'Roboto Slab', serif;
        font-size: 30px;
        text-shadow: 2px -2px  rgb(171, 125, 85);
        text-align: center;
    }
    #faq p{
        text-align: justify;
        margin-left: 20px;
        margin-bottom: 10px;
        padding-right:20px ;
    }



     /* Formatação da pagina de conteudo*/
     
     #servicos_conteudo{
        background-color: rgb(16, 16, 15);
        display: flex;
        justify-content: center;
        width: 100%;
        height: 250px;
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin-bottom: 20px;
     }
     .servico-tabela{

        width: 1140px;
        margin-top: 20px;
        background-color: #000000   ;
        color: white;
        font-size: 16px;
        text-align: center;
        border-color: white;
        
        
     }
     #servico-produto-titulo{
        display: block;
        background-color: #000000;
        
     }
    .servico-tabela-produtos{
        width: 100px;
        font-size: 20px;
        background-image: url(https://i.pinimg.com/564x/f7/17/b6/f717b69fd2e08b67fe6cc7856147ff5b.jpg);
        background-size: cover;
        color: white;
    }
    .servico-tabela-titulos{
        background-color: #000000;
        color: white;
        font-size: 18px;
        width: 200px;
    }

    #servicos_icones{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.261);
        border: 1px solid white;
        height: 180px;
        color: rgb(255, 255, 255);
        text-shadow: -2px -1px black;
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 26px;
        padding-top: 30px;
    }
    
/* Final da formatação da pagina de servico */


/* Formatação da pagina de contato */

/* Fim da formatação da pagina de contato */


/* Formatação do mapa */
.map{
    width: 400px;
    height: 200px;
    padding: 10px;

}

summary{
    width: 60%;
    margin-left: 3px;
    font-size: 18px;
    color: yellow;
}
