@media (max-width: 768px) {

body{
    width: 800px;
    margin-right: 5px;
    padding-bottom: 63%;
}
main{
    width: auto;
    
}


    .texto-legenda{
        text-align: justify;
        margin-right: 130px;
    }

.galeria-imagens{
    gap:10%;

}
#inicio-promocao{

    padding: 0%; 

}

.inicio-mensagem{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

    .inicio-mensagem p{
        width: max-content;
    }
.todas-promocao{
    padding-bottom: 15px;
}

.todas-promocao h3{
    font-size: 18px;
}
.todas-promocao p{
    font-size: 13px;
    

}

#btnservicos{
    width: 20px;
    height: 120px;
}
    .slider-botao{
        margin-right: 325px;
    }



    /* Promoções */
    #inicio-promocoes{
        width: min-content;
        height: min-content;
    }
.inicio-promocoes-info p{
    margin: 0;
    padding: 0;
}

    .combo-cabelo-barba:hover{
        padding: 1px;
        margin: 0;

    }
    .combo-cabelo-barba-sobracelha:hover{
        padding: 1px;
        margin: 0;
    }
        .combo-cabelo-barba-sobracelha h2{
            width: max-content;
        }
    .combo-cabelo-barba-pintura:hover{
        padding: 1px;
        margin: 0;
    }

    #servicos_caixa_index{
        flex-direction:row ;
        flex-wrap: wrap;
        gap: 20%;
    }

        
    .servicos_caixa_cabelo{
        margin-bottom: 10px;
    }

        .servicos_caixa_cabelo p {
            font-size: 14px;
            text-align: left;
            width: 180px;
            height: 180px;
            
        }
    .servicos_caixa_barba{
        margin-bottom: 10px;
    }
        .servicos_caixa_barba p {
            font-size: 14px;
            text-align: left;
            width: 180px;
            height: 180px;
        }
    
        .servicos_caixa_sobracelha{
            margin-bottom: 10px;
        }
            .servicos_caixa_sobracelha p {
            font-size: 14px;
            text-align: left;
            width: 180px;
            height: 180px;
        }

        .servicos_caixa_tatto{
            margin-bottom: 10px;
        } 
            .servicos_caixa_tatto p {
                font-size: 14px;
                text-align: left;
                width: 180px;
                height: 180px; 
            }

    .servicos_caixa_sobracelha p {
        font-size: 14px;
        text-align: left;
        width: 180px;
        height: 180px;
        
    }
    .servicos_caixa_pintura{
        position: absolute;
        margin-top: 15%;
        
    }


    /* rodape */
    .icones-texto{
        width: 340px;

    }

}

