@media (max-width: 768px) {
    /* Pagina sobre */
*{
    padding:   0;
    margin: 0;
}
main{
}

body{
    width: 100%;
    height: auto;
    padding-bottom: 64%;

}

.botao-contato{
    left: 250px;
    padding-bottom: 0;
 }
 #sobre h2{
 margin: 0;
 text-align: center;
     }
     #sobre p{
         text-align: justify;
         font-size: 14px;
     }
 
}


 
 